VS_mycodes/sudoku2/sudoku2/ns.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Service"
 targetNamespace="http://tempuri.org/ns.xsd/Service.wsdl"
 xmlns:tns="http://tempuri.org/ns.xsd/Service.wsdl"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns="http://tempuri.org/ns.xsd"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="http://tempuri.org/ns.xsd"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="http://tempuri.org/ns.xsd"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="Rank"><!-- Rank -->

   <sequence>
     <element name="id" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- Rank::id -->
     <element name="score" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- Rank::score -->
   </sequence>
  </complexType>
  <!-- operation request element -->
  <element name="checkRanks">
   <complexType>
    <sequence>
     <element name="param-1" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__checkRanks::_param_1 -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="checkRanksResponse">
   <complexType>
    <sequence>
     <element name="r" type="ns:Rank" minOccurs="1" maxOccurs="unbounded"/><!-- ns__checkRanks::r -->
    </sequence>
   </complexType>
  </element>
 </schema>

</types>

<message name="checkRanksRequest">
 <part name="Body" element="ns:checkRanks"/><!-- ns__checkRanks::ns__checkRanks -->
</message>

<message name="checkRanksResponse">
 <part name="Body" element="ns:checkRanksResponse"/>
</message>

<portType name="ServicePortType">
 <operation name="checkRanks">
  <documentation>Service definition of function ns__checkRanks</documentation>
  <input message="tns:checkRanksRequest"/>
  <output message="tns:checkRanksResponse"/>
 </operation>
</portType>

<binding name="Service" type="tns:ServicePortType">
 <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="checkRanks">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
</binding>

<service name="Service">
 <documentation>gSOAP 2.8.20 generated service definition</documentation>
 <port name="Service" binding="tns:Service">
  <SOAP:address location="http://localhost:80"/>
 </port>
</service>

</definitions>
